@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-7">
        <h2>Active Clients</h2>
        <div class="well">
            <ul id="clientsSectionPlaceHolder">

            </ul>
        </div>
    </div>
    <div class="col-md-5">
        <h2>Logs</h2>
        <div class="well" id="logSectionPlaceHolder">
        </div>
    </div>
</div>