@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-7">
        <h2>Active Clients</h2>
        <div class="well" id="clientsSectionPlaceHolder">

        </div>
    </div>
    <div class="col-md-5">
        <h2>Logs</h2>
        <div class="well" id="logSectionPlaceHolder">

        </div>
    </div>
</div>
<script type="text/x-jquery-tmpl" id="clientTemplates">
    <ul>
        <% for ( var i = 0; i < clients.length; i++ ) { %>
        <li></li>
        <% } %>
    </ul>
</script>

@section scripts{
    <script>
        $(document).ready(function () {
            if ("WebSocket" in window) {

                app.ws = new WebSocket("ws://localhost:5005/?owner=Master");

                app.ws.onopen = function () {
                    // Web Socket is connected, send data using send()
                    // ws.send("Message to send");
                };

                app.ws.onmessage = function (evt) {
                    var parsedMessage = JSON.parse(evt.data);
                    console.log(parsedMessage);
                    // $.publish('onmessage', JSON.parse(evt.data));
                };

                app.ws.onclose = function () {
                    // websocket is closed.
                    // console.warn("Connection is closed...");
                };
            }

            else {
                // The browser doesn't support WebSocket
                alert("WebSocket NOT supported by your Browser!");
            }
        });
    </script>
}